@charset "UTF-8";
/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Montserrat-Regular;
}

.row, .container, .container-fluid {
  margin: 0%;
  padding: 0%;
}

/*variables*/
/*mixin*/
/*extend*/
.producto .btn:hover, .producto .btn, .tarjetas .btn {
  background-color: white;
  border: none;
  padding: 5px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}

.tarjetas {
  margin: 20px;
  padding: 10px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(70, 51, 57));
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  width: 250px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}

/*loading*/
.loading {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > i {
  color: white;
  font-size: 60px;
  -webkit-animation-name: rotar;
          animation-name: rotar;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*navegador*/
.header {
  display: flex;
  background-color: black;
  grid-area: nav;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 2;
  justify-content: center;
  align-items: center;
  top: 0;
}
.header .logo {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.header .navegador {
  grid-area: nav;
}
.header .navegador > ul {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  list-style: none;
}
.header .navegador > ul > li {
  margin: 10px;
}
.header .navegador > ul > li:hover {
  transform: scale(1.2);
  transition: 1s;
}
.header .navegador > ul > li > a {
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.header .navegador > ul > li > a:hover {
  color: rgb(225, 130, 130);
}

.navegador > .fa-bars {
  display: none;
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
  .header .navegador > .fa-bars {
    display: block;
    color: rgb(215, 222, 227);
    font-size: 30px;
    padding: 20px;
    margin: 10px;
  }
  .header .navegador .fa-bars:hover + ul {
    left: 0%;
    transition: 1s;
  }
  .header .navegador > ul {
    position: fixed;
    flex-direction: column;
    background-color: black;
    width: 200px;
    height: 100vh;
    justify-content: start;
    align-items: start;
    left: -300px;
    z-index: 1;
  }
  .header .navegador ul:hover {
    left: 0;
  }
}
/*tarjetas*/
.tarjetas .tarjeta_titulo {
  text-align: center;
  margin: 5px;
  color: rgb(220, 213, 227);
}
.tarjetas .tarjeta_img {
  width: 100%;
  border-radius: 5px;
}
.tarjetas .tarjeta_desc {
  color: rgb(220, 213, 227);
  margin: 5px;
  padding: 5px;
}
.tarjetas .btn:hover {
  color: red;
}

/*formulario*/
.formulario {
  background-color: rgba(225, 130, 130, 0.774);
  box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.75);
  max-width: 750px;
  padding: 10px;
  margin: 50px auto;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 100px 100px;
  grid-template-areas: "nombre apellido" "teléfono email" "mensaje mensaje" "enviar enviar";
}

.formulario > label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario > label > input {
  background-color: transparent;
  border: 0ch;
  border-bottom: solid 1px;
  outline: none;
}

.formulario > label > textarea {
  background-color: transparent;
  border: 0ch;
  border-bottom: solid 1px;
  outline: none;
}

.formulario :nth-child(1) {
  grid-area: nombre;
  padding: 5px;
}

.formulario :nth-child(2) {
  grid-area: apellido;
  padding: 5px;
}

.formulario :nth-child(3) {
  grid-area: teléfono;
  padding: 5px;
}

.formulario :nth-child(4) {
  grid-area: email;
  padding: 5px;
}

.formulario :nth-child(5) {
  grid-area: mensaje;
  padding: 5px;
}

.formulario :nth-child(6) {
  grid-area: enviar;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin: 20px;
  background-color: rgba(38, 174, 237, 0.829);
  width: 150px;
  justify-self: center;
}

/*font*/
@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
/*----- magenta_estructúra con bootstrap -----*/
.main_magenta {
  overflow: hidden;
  background-color: white;
  margin-top: 100px;
  font-size: large;
}
.main_magenta .magenta_caja2 {
  width: 100%;
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  margin: 20px auto;
}
.main_magenta .magenta_caja2 .magenta_titulo {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}
.main_magenta .magenta_caja3 {
  background-color: white;
  border-radius: 10px;
}
.main_magenta .magenta_img1 {
  border-radius: 20px;
}
.main_magenta .magenta_img2 {
  border-radius: 20px;
}
.main_magenta .magenta_caja6 {
  background-color: white;
  border-radius: 10px;
}
.main_magenta .magenta_caja7 {
  background-color: white;
  border-radius: 10px;
}
.main_magenta .magenta_img3 {
  border-radius: 20px;
}

/*joyería_estructura grid*/
.joyeria {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1300px 1100px 120px;
  grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
}

.main_joyeria {
  font-size: large;
  grid-area: main;
  overflow: hidden;
}
.main_joyeria .joyeria_video {
  width: 100%;
}
.main_joyeria .joyeria_caja2 {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
}
.main_joyeria .joyeria_caja2 .joyeria_titulo {
  font-size: 24px;
}
.main_joyeria .joyeria_bloque1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_joyeria .joyeria_bloque1 .joyeria_caja3 {
  background-color: white;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.main_joyeria .joyeria_bloque1 .joyeria_caja4 {
  background-color: white;
  width: 500px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.main_joyeria .joyeria_bloque1 .joyeria_caja4 .joyeria_desc {
  margin: 10px;
  padding: 10px;
}

.joyeria_caja5 {
  width: 500px;
}

.joyeria_img {
  width: 100%;
  border-radius: 20px;
}

.aside_joyeria {
  grid-area: aside;
  overflow: hidden;
}
.aside_joyeria .joyeria_caja6 {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
}
.aside_joyeria .joyeria_bloque2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1270px) {
  .joyeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1300px 1500px 120px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
}
@media (max-width: 870px) {
  .joyeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1100px 2000px 120px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .joyeria_caja5 {
    width: auto;
    margin: auto;
  }
  .joyeria_img {
    width: 440px;
  }
}
@media (max-width: 650px) {
  .joyeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 900px 3900px 150px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .joyeria_caja5 {
    width: auto;
    margin: auto;
  }
  .joyeria_img {
    width: 310px;
  }
  .joyeria_bloque2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .joyeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 800px 3600px 120px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .joyeria_img {
    width: 250px;
  }
}
/*relojería_estructura grid*/
.relojeria {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1600px 1100px 120px;
  grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
}

.main_relojeria {
  font-size: large;
  grid-area: main;
  overflow: hidden;
}
.main_relojeria .relojeria_caja1 {
  width: 100%;
}
.main_relojeria .relojeria_caja1 .relojeria_slider {
  width: 100%;
}
.main_relojeria .relojeria_caja2 {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px auto;
}
.main_relojeria .relojeria_caja2 .relojeria_titulo {
  font-size: 24px;
}
.main_relojeria .relojeria_bloque1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_relojeria .relojeria_bloque1 .relojeria_caja3 {
  text-align: center;
  width: 200px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.main_relojeria .relojeria_bloque1 .relojeria_caja4 {
  width: 500px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.main_relojeria .relojeria_bloque1 .relojeria_caja4 .relojeria_desc {
  padding: 20px;
  margin: 10px;
}
.main_relojeria .relojeria_bloque2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main_relojeria .relojeria_bloque2 .relojeria_caja6 {
  width: auto;
  margin: 10px;
}
.main_relojeria .relojeria_bloque2 .relojeria_caja7 {
  background-color: white;
  width: 500px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}
.main_relojeria .relojeria_bloque2 .relojeria_caja7 .relojeria_desc2 {
  margin: 10px;
  padding: 20px;
}

.relojeria_caja5 {
  width: auto;
}

.relojeria_img {
  width: 500px;
  border-radius: 20px;
}

.aside_relojeria {
  grid-area: aside;
  overflow: hidden;
}
.aside_relojeria .relojeria_caja8 {
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
}
.aside_relojeria .relojeria_bloque3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (max-width: 1180px) {
  .relojeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1600px 1500px 120px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
}
@media (max-width: 870px) {
  .relojeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1500px 1900px 120px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .relojeria_img {
    width: 440px;
  }
}
@media (max-width: 650px) {
  .relojeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 1350px 3900px 150px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .relojeria_img {
    width: 310px;
  }
  .relojeria_bloque3 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  .relojeria_img {
    width: 250px;
  }
}
/*----- tienda_estructura con bootstrap -----*/
.main_tienda {
  background-color: white;
  margin-top: 100px;
  overflow: hidden;
  font-size: large;
}
.main_tienda .tienda_caja2 {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.main_tienda .tienda_caja2 .tienda_titulo {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
}
.main_tienda .tienda_caja3 {
  background-color: white;
  border-radius: 10px;
}
.main_tienda .tienda_img {
  border-radius: 10px;
}

.producto {
  width: 250px;
  background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(70, 51, 57));
  border-radius: 10px;
  color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
}
.producto .btn:hover {
  color: red;
}

.tienda_btn {
  border-radius: 10px;
  padding: 20px;
  font-size: 24px;
  background-color: rgb(255, 168, 168);
  color: black;
  text-decoration: none;
  position: fixed;
  top: 150px;
  right: 10px;
  box-shadow: 0px 0px 19px 7px rgba(0, 0, 0, 0.75);
}

/*contacto_estructura*/
.contacto {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 1100px 100px 120px;
  grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
}

.main_contacto {
  font-size: large;
  grid-area: main;
}
.main_contacto .contacto_caja1 {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  padding: 10px;
  margin: 20px auto;
  text-align: center;
}
.main_contacto .contacto_caja1 .contacto_titulo {
  font-size: 24px;
}

.desc_mapa {
  background-image: linear-gradient(rgba(234, 195, 206, 0.782), rgb(255, 255, 255));
  width: 100%;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  padding: 10px;
}
.desc_mapa .contacto_subtitulo {
  font-size: 24px;
}

.mapa {
  width: 650px;
  box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.75);
  background-color: rgba(225, 130, 130, 0.774);
  text-align: center;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .contacto {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 900px 100px 150px;
    grid-template-areas: "nav nav nav" "main main main" "aside aside aside" "pie pie pie";
  }
  .formulario {
    margin: auto;
    max-width: 400px;
  }
  .mapa {
    text-align: center;
    margin: 20px auto;
    width: 400px;
    height: 350px;
  }
  .mapa > iframe {
    width: 350px;
    height: 300px;
  }
}
@media (max-width: 450px) {
  .formulario {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 100px 100px;
    grid-template-areas: "nombre" "apellido" "teléfono" "email" "mensaje" "enviar";
  }
  .mapa {
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    text-align: center;
  }
  .mapa > iframe {
    width: 200px;
    height: 200px;
  }
}
/*footer*/
.footer {
  background-color: black;
  grid-area: pie;
  display: flex;
  align-items: center;
}
.footer .footer_desc {
  font-size: 14px;
  color: white;
  width: 50%;
  text-align: center;
}

.footer_iconos {
  text-align: center;
  font-size: 40px;
  margin: 20px;
  padding: 10px;
  width: 50%;
}
.footer_iconos a {
  text-decoration: none;
  color: white;
}
.footer_iconos a:hover {
  color: blue;
}

.githublink {
  color: red;
  font-size: 16px;
  text-decoration: none;
}
.githublink:hover {
  color: blue;
}