%btn{
    background-color: white;
    border: none;
    padding: 5px;
    border-radius: 20px;
    color: rgb(0, 0, 0); 
    font-size: 20px;  
    text-align: center;
    text-decoration: none;
}
%tarjetas{
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom,rgb(0, 0, 0),rgb(70, 51, 57));
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-flow: column; 
}