.footer {
    background-color: black;
    grid-area: pie;
    display: flex;
    align-items: center;
    .footer_desc {
      font-size: 14px;
      color: white;
      width: 50%;
      text-align: center;   
    }
  }
  .footer_iconos {
    text-align: center;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
    width: 50%;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #264653;
      }
    }  
  } 
  .githublink {
    color: #ffafcc;
    font-size: 16px;
    text-decoration: none;
    &:hover{
      color: #264653;
      transition: 0.4s;
    }
  }

  