.main_magenta{
    overflow: hidden;
    background-color: $colorfondo;
    margin-top: 100px;
    font-weight: bold;
    font-size: large;
    .magenta_caja2{
        width: 100%;
        background-image: $colorgradiente;
        margin: 20px auto;
        .magenta_titulo{
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 32px;
        }
    }
    .magenta_caja3{
        background-color: $colorcajas;
        border-radius: 10px;
    }
    .magenta_img1{
        border-radius: 20px;
    }
    .magenta_img2{
        border-radius: 20px;
    }
    .magenta_caja6{
        background-color: $colorcajas;
        border-radius: 10px;
    }
    .magenta_caja7{
        background-color: $colorcajas;
        border-radius: 10px;
    }
    .magenta_img3{
        border-radius: 20px;
    }    
}

