@mixin tienda_btn($background, $color){
    border-radius: 10px;
    padding: 20px;
    font-size: 24px;
    background-color: $background;
    color: $color;
    text-decoration: none;
    position: fixed;
    top: 150px;
    right: 10px;
    box-shadow: 0px 0px 19px 7px rgba(0,0,0,0.75);
}
@mixin producto($gradiente, $color){
    width: 250px;
    background-image: $gradiente;
    box-shadow: 2px 2px 10px 6px rgba(0,0,0,0.75);
    border-radius: 10px;
    color: $color;
}