.header{
    display: flex;
    background-color: black;
    grid-area: nav;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 2;
    justify-content: center;
    align-items: center;
    top: 0;
    .logo{
        width: 80px;
        height: 80px;
        margin: 10px;
    }
    .navegador{
        grid-area: nav;
        > ul{
            padding: 20px;
            display: flex;
            justify-content:center;
            font-size: 18px;   
            list-style: none; 
            > li{
                margin: 10px;
                &:hover{
                        transform: scale(1.2);
                        transition: 1s;
                }
                > a{
                    border-radius: 20px;
                    padding: 10px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);  
                    &:hover{
                        color: #ffafcc;
                    } 
                } 
            }
        }
    }
}
.navegador > .fa-bars{
    display: none;
}
@media(max-width:800px){
    .header{
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        .navegador > .fa-bars{
            display: block;
            color: rgb(215, 222, 227);
            font-size: 30px;
            padding: 20px;
            margin: 10px;
        }
        .navegador .fa-bars:hover + ul{
            left: 0%;
            transition: 0.5s;
        }
        .navegador > ul{
            position: fixed;
            flex-direction: column;
            background-color: black;
            width: 200px;
            height: 100vh;
            justify-content: start;
            align-items: start;
            left: -300px;
            z-index: 1;
        }
        .navegador ul:hover{
            left: 0;
        }
    }
}