$colorcajas:  rgb(234, 217, 231);

.relojeria{
    background-color: rgb(241, 230, 240);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px 1600px 1100px 120px;
    grid-template-areas: "nav nav nav"
                         "main main main"
                         "aside aside aside"
                         "pie pie pie";
}
.main_relojeria{
    z-index: 0;
    grid-area: main;
    overflow: hidden;
    .relojeria_caja1{
        width: 100%;
        .relojeria_slider{
            width: 100%;
        }
    }
    .relojeria_caja2{
        background-image: linear-gradient(rgb(222, 200, 218),rgb(255, 255, 255));
        width: 100%;
        text-align: center;
        padding: 10px;
        margin: 20px auto;
    }
    .relojeria_bloque1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .relojeria_caja3{
            text-align: center;
            width: 200px;
            background-color: $colorcajas;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        .relojeria_caja4{
            width: 500px;
            background-color: $colorcajas;
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
        }
        .relojeria_caja5{
            width: auto;
        }
    }
    .relojeria_img{
        width: 500px;
        border-radius: 20px;
    }
    .relojeria_bloque2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .relojeria_caja6{
            width: auto;
            margin: 10px;
        }
        .relojeria_caja7{
            background-color: $colorcajas;
            width: 500px;
            border-radius: 10px;
            padding: 10px;
            margin: 10px;
            display: flex;
            align-items: center;
        }
    }
}
.aside_relojeria{
    grid-area: aside;
    .relojeria_caja8{
        padding: 10px;
        text-align: center;
        margin: auto;
        width: 100%;
        background-image: linear-gradient(rgb(222, 200, 218),rgb(255, 255, 255));
    }
    .relojeria_bloque3{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
}
@media(max-width:1180px){
    .relojeria{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 1600px 1900px 120px;
        grid-template-areas: "nav nav nav"
                             "main main main"
                             "aside aside aside"
                             "pie pie pie";
    }
}
@media(max-width:870px){
    .relojeria{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 1500px 1900px 120px;
        grid-template-areas: "nav nav nav"
                             "main main main"
                             "aside aside aside"
                             "pie pie pie";
    }
    .relojeria_img{
        width: 440px;
    }
}
@media(max-width:650px){
    .relojeria{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 100px 1300px 3900px 150px;
        grid-template-areas: "nav nav nav"
                             "main main main"
                             "aside aside aside"
                             "pie pie pie";
    
    }
    .relojeria_img{
        width: 310px;
    }
    .relojeria_bloque3{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:350px){
    .relojeria_img{
        width: 250px;
    }
}
