.tarjetas{
    margin: 20px;
    padding: 10px;
    background-image: linear-gradient(to bottom,rgb(172, 47, 66),rgb(5, 5, 32));
    box-shadow: 2px 2px 10px 6px rgba(0,0,0,0.75);
    width: 250px;
    border-radius: 10px;
    display: flex;
    flex-flow: column; 
}
.tarjeta_titulo{
    text-align: center;
    margin: 5px;
    color: rgb(220, 213, 227);
}
.tarjeta_img{
    width: 100%;
    border-radius: 5px;
}
.tarjeta_desc{
    color: rgb(220, 213, 227);
    margin: 5px;
    padding: 5px;
}
.btn{
    background-color: rgb(220, 213, 227);
    border: none;
    padding: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0); 
    font-size: 20px;  
    text-align: center;
    text-decoration: none;
}
.btn:hover{
    background-color: rgb(173, 165, 248);
}
