.tarjetas{
    @extend %tarjetas;
    .tarjeta_titulo{
        text-align: center;
        margin: 5px;
        color: rgb(220, 213, 227);
    }
    .tarjeta_img{
        width: 100%;
        border-radius: 5px;
    }
    .tarjeta_desc{
        color: rgb(220, 213, 227);
        margin: 5px;
        padding: 5px;
    }
    .btn{
        @extend %btn;
        &:hover{
            color: red;
        }
    }
}