.main_tienda{
    background-color: $colorfondo;
    margin-top: 100px;
    overflow: hidden;
    font-size: large;
    .tienda_caja2{
        background-image: $colorgradiente;
        width: 100%;
        margin: 20px auto;
        text-align: center;
        .tienda_titulo{
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 24px;
        }
    }
    .tienda_caja3{
        background-color: $colorcajas;
        border-radius: 10px;
        &:hover{
            transform: scale(1.05);
            transition: 1.5s;
        }
    }
    .tienda_img{
        border-radius: 10px;
        &:hover{
            transform: scale(1.05);
            transition: 1.5s;
        }
    }
}
.producto{
    @include producto (linear-gradient(to bottom,#f4acb7,#9d8189), black);
    .btn{
        @extend %btn;
        &:hover{
            color: #1d3557;
            scale: 1.03;
            transition: 0.4s;
            box-shadow: 0px 0px 10px 2px #f4acb7;
            @extend %btn;
        }
    }
}
.tienda_btn{
     @include tienda_btn( #d8e2dc, black );
     &:hover{
        color: #1d3557;
        scale: 1.02;
        transition: 0.4s;
        box-shadow: 0px 0px 10px 2px #f4acb7;
     }
}