.main_tienda{
    background-color: $colorfondo;
    margin-top: 100px;
    overflow: hidden;
    font-weight: bold;
    font-size: large;
    .tienda_caja2{
        background-image: $colorgradiente;
        width: 100%;
        margin: 20px auto;
        text-align: center;
        .tienda_titulo{
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 32px;
        }
    }
    .tienda_caja3{
        background-color: $colorcajas;
        border-radius: 10px;
    }
    .tienda_img{
        border-radius: 10px;
    }
}
.producto{
    width: 250px;
    background-image: linear-gradient(to bottom,rgb(0, 102, 255),rgb(34, 34, 59));
    box-shadow: 2px 2px 10px 6px rgba(0,0,0,0.75);
    border-radius: 10px;
    color: white;
    .btn{
        @extend %btn;
        &:hover{
            color: red;
            @extend %btn;
        }
    }
}
.tienda_btn{
 @include tienda_btn( rgb(255, 168, 168), black )
}