/*reset*/
@import "reset";
/*variables*/
@import "variables";
/*mixin*/
@import "mixin";
/*extend*/
@import "extend";
/*loading*/
@import "loading";
/*navegador*/
@import "navegador";
/*tarjetas*/
@import "tarjetas";
/*formulario*/
@import "formulario";
/*font*/
@import "tipografia";
/*----- magenta_estructúra con bootstrap -----*/
@import "magenta";
/*joyería_estructura grid*/
@import "joyeria";
/*relojería_estructura grid*/
@import "relojeria";
/*----- tienda_estructura con bootstrap -----*/
@import "tienda";
/*contacto_estructura*/
@import "contacto";
/*footer*/
@import "footer";