/*reset*/

@import "reset";

/*loading*/

@import "loading";

/*navegador*/

@import "navegador";

/*tarjetas*/

@import "tarjetas";

/*formulario*/

@import "formulario";

/*footer*/

@import "footer";

/*font*/

@import "tipografia";

/*----- magenta_estructúra con bootstrap -----*/

@import "magenta";

/*joyería_estructúra*/

@import "joyeria";

/*relojería_estructúra*/

@import "relojeria";

/*----- tienda_estructúra con bootstrap -----*/

@import "tienda";

/*contacto_estructúra*/

@import "contacto";